* {
  margin: 0;
  padding: 0;
  
}



header {
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: white;
}



.background {
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-image: url("/assets/fond ecran nourriture.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  z-index: -1;
  position: absolute;


}


.logo {

  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  justify-content: center;

}

.connexion-bouton {
  width: 40%;
  height: 100%;
  justify-content: space-around;
  display: flex;
  flex-direction: row;

}

.titre1 {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.titre2 {
  font-size: 15px;
  text-align: center;
}

.connexionForm {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 700px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 22px;
  padding: 10px;
  background-color: rgb(236, 233, 233);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  display: none;
}

.inscriptionForm {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 700px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 22px;
  padding: 10px;
  background-color: rgb(236, 233, 233);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  display: none;
}



.p1 {
  font-weight: bold;
  font-size: 30px;

}

.close {
  position: absolute;
  font-size: 35px;
  font-weight: bold;
  top: 0px;
  right: 5px;
  cursor: pointer;

}

.close2 {
  position: absolute;
  font-size: 35px;
  font-weight: bold;
  top: 0px;
  right: 5px;
  cursor: pointer;
}

.fond-ecran {
  width: 100%;
  height: 100%;
}



.input {
  height: 37px;
  width: 80%;
  border-radius: 10px;
  border: none;
}

.input2 {
  height: 37px;
  width: 300px;
  border-radius: 10px;
  border: none;
}

.input_bloc {
  display: flex;
  flex-direction: column;
}

.inscriptionBloc {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;

}

.B1 {

  display: flex;
  background-color: #0E8345;
  justify-content: center;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  word-spacing: 2px;
  font-size: 18px;
  height: 35px;
  padding: 10px 0;
  width: 200px;
  border: none;
  margin: 5px;
  transition: all .5 ease-in-out;
}

.B2 {
  background-color: #0E8345;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  word-spacing: 2px;
  font-size: 18px;
  height: 35px;
  width: 150px;
  border: none;
  transition: all .5 ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.B3 {
  background-color: #0E8345;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  word-spacing: 2px;
  font-size: 18px;
  height: 35px;
  width: 150px;
  border: none;
  transition: all .5 ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.B4 {
  background-color: #0E8345;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  word-spacing: 2px;
  font-size: 18px;
  height: 35px;
  width: 100px;
  border: none;
  transition: all .5 ease-in-out;
}

button:hover {
  opacity: .8;
  transform: scale(1.02);
  cursor: pointer;

}

label {
  font-size: 20px;
}

@media screen and (max-width: 600px) {

  .background {
    width: 100%;
  }

  .connexionForm {

    width: 300px;
  }

  .connexion-bouton {
    display: flex;
    flex-direction: column;
  }

  .B2,
  .B3 {
    width: 120px;
  }


}