* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #d8d9e0;
}


/* Informations de l'utilisateur */
.profile_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.user_profile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: auto;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: #fcfcfd;
  color: black;
  border-radius: 10px;
  min-width: 250px;
  width: 20rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.user_block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.user_profile img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 50%;
}

.user_informations {
  font-size: 1rem;
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 10px;
}

.user_profile h3 {
  text-align: center;
  font-size: 1.6rem;
}

.user_informations li {
  font-weight: medium;
  margin-top: 8px;
}
.user_informations li span {
  font-weight: 600;
}
/* Liste des restaurants favoris*/
.favorite_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.restaurant_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;

}
/* Card du restaurant favori*/
.restaurant_card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #fcfcfd;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 100%;
  margin-bottom: 50px;
  height: 18rem;
  min-width: 350px;
  max-width: 350px;
  text-decoration: none;
  color: black;
}

.restaurant_picture {
  border-radius: 10px 10px 0 0;
}

.title {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40%;
  justify-content: space-around;
  align-items: start;
  padding-left: 10px;
}

.title p {
  font-size: 1rem;
  margin-bottom: 5px;
}

.stars_block {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.stars_like {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
}

.restaurant_card h3 {
  text-align: start;
  margin-right: 10px;
}

.favoris {
  width: 30px;
  height: 30px;
}

@media screen and (min-width: 1024px) {
  .restaurant_list {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .restaurants {
    padding: 20px;
  }

  .restaurant_card {
    margin-right: 50px;
    width: 10rem;
  }

  .profile_page {
    align-items: center;
    margin-top: 20px;
  }

  .user_profile {
    min-width: 250px;
    width: 30rem;
  }

  .favorite_list{
    flex-direction: row;
    flex-wrap: wrap;
  }
}
