* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: "Inter", sans-serif;
}
.profile_page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user_profile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 30vh;
  padding-top: 20px;
}

.user_profile img {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  border-radius: 50%;
}

.user_informations {
  font-size: 1.2rem;
  height: 80%;
  width: 50%;
  list-style-type: none;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.restaurant_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.restaurant_card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 90%;
  margin-bottom: 50px;
  height: 18rem;
  min-width: 400px;
  max-width: 400px;
}
.restaurant_picture {
  border-radius: 10px 10px 0 0;
}

.title {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}
.stars_block {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.restaurant_card h3 {
  text-align: start;
  margin-right: 10px;
}

.favoris {
  width: 30px;
  height: 30px;
}

@media screen and (min-width: 1024px) {
  .restaurant_list {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

.restaurant_card {
  margin-right: 50px;
}

.profile_page {
  flex-direction: row;
  align-items: center;
}

.user_profile {
  min-width: 450px;
}


}
