

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    padding-left: 10px;
    padding-right: 10px;
}


nav {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

nav a {
    color: #0f0f0f;
    text-decoration: none;
    font-size: 18px
}

.logo {
    width: 150px;
    height: 120px;
}
.profile_icone {
    width: 60px;
    height: 60px;
}
.div_header {
    display: flex;
    gap: 30px;
    align-items: center;
}
.navbar {
    display: none;
}
/************** MAIN **************/

/************** DEBUT CARROUSSEL hORIZONTAL **************/
div.scroll-container {
    width: 100%;
    display: flex;
    justify-content: space-between;    flex-direction: row;
    overflow: auto;
    white-space: nowrap;
    padding: 5px;
  }
  
  div.scroll-container img {
    padding: 10px;
  }

  .titre_filtre {
    font-size: 14px;
    margin-left: 5px;
    margin-top: 10px;
  }

  .icon_filter {
    width: 60px;
    height: 60px;
  }

/************** FIN CARROUSSEL hORIZONTAL **************/

/*Partie @MediaQueries pour le responsive*/
@media (max-width : 430px) {

    nav {
        display: none;
    }
    .logo {
        width: 95px;
        height: 80px;
    }
    .profile_icone {
        display: none;
    }
    .div_header {
        
        margin-right: 10px;
    }
}