body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #D8D9E0;
}

.hautDePage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: auto;
  align-items: center;
  text-align: center;
  background-color: blue;
}

.hautDePage h1{
  margin-right: 20px;

}
.resto img {
  width: 300px;
}
.contact {
  flex-direction: column;
  background-color: red;
}

@media screen and (min-width: 830px) {
  .hautDePage {
    background-color: green;
    justify-content: center;
  }
  
.hautDePage h1 {
  font-size: 2rem;
  align-self: center;
}

.resto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 40px;
}

.resto img {
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 100%;
  height: auto;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.contact-card {
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
}

.contact-card {
  flex-direction: row-reverse;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.contact-item i {
  margin-right: 10px;
  font-size: 24px;
  color: #333;
}

.contact-item span,
.contact-item a {
  font-size: 18px;
  color: #333;
  text-decoration: none;
}

.contact-item a:hover {
  text-decoration: underline;
}

.resto img {
  max-width: non;
  width: 300px;
  flex-direction: row;
}
}