* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  background-color: #d8d9e0;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: calc(100vh - 84px - 63px);
}

.hautDePage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
}

#restaurant_images {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#restaurant_images img {
  margin-bottom: 20px;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 12rem;
}
.hautDePage h1 {
  font-size: 1.4rem;
  margin-right: 10px;
}
.top_title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact_block {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20rem;
  font-size: 1.2rem;
  padding-left: 10px;
}

.contact_block p {
  text-align: start;
  font-size: 1.2rem;
}

.contact-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-link {
  align-items: center;
}

.contact-link a {
  text-decoration: none;
  color: black;
}

.heart-container {
  justify-content: center;
}

.heart {
  font-size: 3em;
  cursor: pointer;
  color: rgb(189, 184, 184); /* Cœur vide */
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: white;
  line-height: 1em;
  text-align: center;
  border-radius: 50%;
}
.contact_links {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contact_items {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media screen and (min-width: 830px) {
  .hautDePage {
    justify-content: space-around;
    width: 100%;
  }

  .hautDePage h1 {
    font-size: 2rem;
  }

  #restaurant_images img {
    width: 20rem;
  }
  .resto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .contact_block {
    flex-direction: row;
    width: 100%;
    height: 10rem;
    align-items: end;
  }

  .contact_links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }
  .contact_items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;
  }
}
